html {
  overflow-y: scroll;
}

body {
  background-color: #272727;
  color: rgb(145, 175, 201);
  font-size: 12pt;
}


#commitList {
  /* width: 100%; */
  border: black;
}

#commitList td {
  padding: 1px;
  
  padding-right: 1em;
  align-content: stretch;
}

.commitDate {
  color: slateblue;
}

.commitTime {
  color: blue;
}

.commitAuthor {
  color: green;
}

.commitType {
  color: blue;
}

.commitShortMesg {
  color: white;
}

commitHeadBranch {
  color: lightblue;
}

commitBranchName {
  color: lightgreen;
}

tr.selected {
  background-color: green;
  color: white;
  font-weight: bold;
}
